body {
    font-family: "Avenir", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
}

.label {
    margin: 5px 0;
}

.tts-section h6 {
    margin-bottom: 10px;
}

.tts-section input, textarea {
    margin-top: 5px;
}
#sttStatus {
    font-size: 0.9em;
    color: gray;
    text-align: center;
}
